@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Quantico&display=swap');

body, html{
    background-color: rgb(17, 17, 61);
}
.navigation{
    background-color: rgb(17, 17, 61);
    min-height: 90px;
    max-height: 185px;
    padding: 20px;
    font-family: 'Quantico', sans-serif;
}
h1{
    color: white;
    width: 3cm;
}
.nav-link{
    color: white;
}
.welcome{
    background-image: url("cloud.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}
.p-home{
    font-weight: bolder;
    font-size: 50px;
}
img{
    border-radius: 100%;
}
.footer{
    display: flex;
    align-items: center;
    min-height: 90px;
    max-height: 200px;
    color: white;
    background-color: rgb(17, 17, 61);
    font-family: 'Nunito Sans', sans-serif;
}
.x{
    margin-left: 2%;
    font-size: 18px;
    font-weight: bold;
}
.main-about{
    background-color: rgb(17, 17, 61);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
.image{
    margin-left: 1.5cm;
}
.row{
    width: 13cm;
}
.name{
    font-size: 25px;
    font-weight: bolder;
}
.des{
    font-style: italic;
}
.a{
    font-weight: bolder;
    font-size: large;
    margin-left: 1.5cm;
}
.b{
    margin-left: 1.5cm; 
}
.c{
    font-weight: bolder;
    font-size: 24px;
    margin-left: 1.5cm;
}
.education, .experience{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 574px;
    width: 100%;
    background-color: rgb(17, 17, 61);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

